<head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Roboto&display=swap" rel="stylesheet">
    <style type="text/css">
        html {
            font-size: 16px;
         }
        
        h1 {
            font-family: "Montserrat";
            font-size: 65px;
            color: white;
            font-weight: bold;
            padding-top: 1em;
            padding-bottom: 1em;
            word-wrap:break-word;
        }

        div[name="div-bar"] {
            padding: 0px;
        }

        hr {
            height: 10px;
            background-color: #D02035;
        }
    </style>
</head>
<h1>INTERNSHIP SIGNUP FORM</h1>
<div class="col-4" name="div-bar">
    <hr>
</div>